*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(201, 201, 201);
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
#itens{
    display: flex;
    flex: row;
    justify-content: end;
    justify-items: end;
    gap: 10px;
    list-style: none;
}
#primeira{
    background-color: white;
}
a{
    text-decoration: none;
}
